@{
    ViewData["Title"] = "Главная страница";
}
@model List<PointOfUse>;

<div class="text-center">
    <h1 class="display-4">Список объектов потребления</h1>
</div>
<table class="table table-hover table-responsive">
    <thead class="thead-light">
        <tr>
            <th hidden>Id</th>
            <th>Название объекта</th>
            <th>Адрес</th>
            <th>Трансформаторы напряжения</th>
            <th>Трансформаторы тока</th>
            <th>Счетчики эл. энергии</th>
            <th>Управление точками измерения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td hidden>@item.PointOfUseId</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td><a href="~/Home/PotentialTransformer/@item.PointOfUseId">Проверить состояние</a></td>
                <td><a href="~/Home/CurrentTransformer/@item.PointOfUseId">Проверить состояние</a></td>
                <td><a href="~/Home/ElectricityMeter/@item.PointOfUseId">Проверить состояние</a></td>
                <td><a href="~/Home/CreateElectricityMeasuringPoint/@item.PointOfUseId">Добавить новую точку измерения электроэнергии</a></td>
            </tr>
        }
    </tbody>
</table>

