@{
    ViewData["Title"] = "Новая точка измерения";
}
@model MeasuringPointCombined;
<div class="text-center">
    <h1 class="display-4">Точка успешно добавлена</h1>
    <a href="~/Home/Index">Вернуться на главную</a>
</div>